.title {
  font-size: $font-size-xl;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-weight: $font-weight-bold;
  margin-bottom: $grid-gutter-width;

  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: - $spacer;
    background: url(images/smile.svg) no-repeat 0 0;
    width: 40px;
    height: 15px;
  }
}