.nav__link {
  color: inherit;
  position: relative;

  &:after{
    transition: $transition-base;
    transition-property: bottom, opacity;
    will-change: bottom;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $black;

    bottom: -$grid-gutter-width / 1.5;
  }

  @include plain-hover-focus(){
    text-decoration: none;
    color: inherit;
  }
  @include media-breakpoint-up(lg){
    @include hover(){
      &:after{
        bottom: -$grid-gutter-width / 3;
        opacity: 1;
      }
    }
  }
}