.footer__link {
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  vertical-align: middle;
  color: $gray-500;
  @include plain-hover-focus(){
    text-decoration: none;
  }
  @include hover(){
   color: lighten($gray-500, 30%)
  }
}