.navigation__link {
  position: relative;

  @include GatewayForProperty($h6-font-size, $h4-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
  color: $white;
  text-shadow: 1px 1px rgba($black, 0.3);

  font-weight: $font-weight-bold;
  text-transform: uppercase;
  &:after{
    transition: $transition-base;
    transition-property: bottom, opacity;
    will-change: bottom;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $black;

    bottom: -$grid-gutter-width / 1.5;
  }
  @include plain-hover-focus(){
    text-decoration: none;
  }
  @include hover(){
    color: rgba($secondary, 0.7);
  }

  @include media-breakpoint-up(lg){
    font-size: $font-size-md;
    text-shadow: none;
    color: $black;
    @include hover(){
      color: $black;
      &:after{
        bottom: -$grid-gutter-width / 3;
        opacity: 1;
      }
    }
  }
}