.navigation__menu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  @include media-breakpoint-down(md){
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    @include make-container-max-widths();
    padding: $grid-gutter-width / 2;
  }

  @include media-breakpoint-up(lg){

    position: static;
    margin-left: - $grid-gutter-width / 1.5;
  }
}