.social__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  @include media-breakpoint-up(md){

  }
  @include media-breakpoint-up(xl){
    justify-content: space-between;
  }
}