.footer__design {

  span{
    font-size: $font-size-md;
    vertical-align: middle;
  }
  @include media-breakpoint-up(md){
    text-align: right;
  }
  @include media-breakpoint-up(xl){
    text-align: left;
  }

}