.nav__item {
  @include GatewayForProperty($h6-font-size, $h3-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
  color: $white;
  text-shadow: 1px 1px rgba($black, 0.2);
  padding: 0;

  @include media-breakpoint-up(lg){
    color: $black;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    &:not(:last-child){
      margin-right: 22px;
    }
  }
}