.section {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  @include media-breakpoint-up(md){
    margin-top: $grid-gutter-width * 1.5;
    margin-bottom: $grid-gutter-width * 2;
  }
}