.navigation__menu-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 60%;
  display: none;
  margin-top: 7px;
  @include media-breakpoint-up(md){
    margin-top: 0;
  }
  @include media-breakpoint-up(lg){
    display: block !important;
    position: static;
    padding-top: 0;
  }
}