$font-sizes: () !default;
$zindex: () !default;

//---Grid---
$grid-gutter-width: 30px !default;
$x: 3px;
$s: 5px;
$m: 10px;
$l: 20px;
$xl: 30px;
$xxl: 40px;
$xxxl: 50px;
$spacers: (
        'x': $x,
        's': $s,
        'm': $m,
        'l': $l,
        'xl': $xl,
        'xxl': $xxl,
        'xxxl': $xxxl,
) !default;




$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1230px
) !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
) !default;

//---font
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 1rem !default;
$font-size-lg: rem(18px) !default;
$font-size-xl: rem(20px) !default;
$font-size-sm: rem(12px) !default;
$font-size-md: rem(14px) !default;

$letter-spacing: 0.05em !default;
$line-height-base: 1.5 !default;
$line-height-lg: 1.6 !default;



$h1-font-size:        $font-size-base * 2.5 !default;
$h2-font-size:        $font-size-base * 2 !default;
$h3-font-size:        $font-size-base * 1.75 !default;
$h4-font-size:        $font-size-base * 1.5 !default;
$h5-font-size:        rem(22px) !default;
$h6-font-size:        $font-size-base !default;

$display1-size:        rem(80px) !default;
$display2-size:        rem(60px) !default;
$display3-size:        rem(40px) !default;
$display4-size:        rem(30px) !default;

$font-weight-light: 300 !default;
$font-weight-base: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-extrabold: 800 !default;
$font-weights: () !default;

$font-weights: map-merge(
                (
                        light: $font-weight-light,
                        base: $font-weight-base,
                        semibold: $font-weight-semibold,
                        bold: $font-weight-bold,
                        extrabold: $font-weight-extrabold
                ),
                $font-weights
);

//---color
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aeaeae !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #2e2e2e !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$green-light: #a0c80f !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #ff6c00 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
        "green-light": $green-light,
)!default;

$primary:       $orange !default;
$secondary:     $green-light !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


//--pagination--
$pagination-size:         40px !default;
$pagination-border-width: 0!default;
$pagination-padding-y:    0 !default;
$pagination-padding-x:    0 !default;
$pagination-line-height:  $pagination-size !default;
$pagination-color:        $black !default;
$pagination-active-color: $white !default;
$pagination-active-bg:    $secondary !default;
$pagination-hover-color:  $black !default;
$pagination-hover-bg:     rgba($secondary, 0.1) !default;

//--header--
$header-min-height: 60px;

