.header {
  position: absolute;
  z-index: 1001;
  width: 100%;
  flex: 0 0 auto;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: $header-min-height;
    background-color: $white;

    @include media-breakpoint-up(md) {
      height: $header-min-height + 30px;
      background-color: transparent;
      background-image: url(images/white.svg);
      background-repeat: no-repeat;
      background-position: calc(50% - 150px) 0;
      background-size: 2405px 90px;
      box-shadow: none;
    }
    @include media-breakpoint-up(lg) {
      height: 120px;
      background-position: calc(50% - 230px) 0;
      background-size: 2405px 120px;
    }
  }
}