.faq__area {
  max-width: 945px;
  position: relative;
  padding: 18px;
  border-radius: 18px;

  &:before, &:after{
    position: absolute;
    font-size: 60px;
    font-weight: $font-weight-light;
    line-height: 1;
  }

  &:before{
    content: '“';
    left: 18px;
    margin-top: - $grid-gutter-width;
  }
  &:after{
    content: '”';
    right: 18px;
    margin-top: $grid-gutter-width / 5;
  }
}