.footer {
  position: relative;
  flex: 0 0 auto;
  text-align: center;
  padding: $grid-gutter-width 0;
  &:before{
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 0;
    width: 100%;
    height: 143px;
    background-color: $gray-800;
    background-repeat: no-repeat;
    background-image: url(images/ellipse-footer.svg);
    background-size: 2405px 143px;
    background-position: calc(50% - 230px);
  }
  @include media-breakpoint-up(md){
    &:before{
      content: '';
    }
    text-align: left;
    padding: $grid-gutter-width * 1.5 0;
  }
}