.card-activity__title {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  @include GatewayForProperty($h6-font-size, $h5-font-size, $page-min-width, map_get($grid-breakpoints, 'md'));
  margin-bottom: $m;
}