.navigation__menu-wrapper_color {
  @each $color, $value in $colors {
    &_#{$color} {
      background-color: #{$color};
      @include media-breakpoint-up(md){
        background-color: transparent;
      }
    }
  }
}