.navigation__btn {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  background: none;
  border: none;
  padding-right: $grid-gutter-width/2;
  cursor: pointer;
  span {
    display: block;
    width: $grid-gutter-width;
    height: 4px;
    border-radius: $border-width * 2;
    background-color: $primary;
    transition: $transition-base;
    transition-property: transform, opacity;
    will-change: transform;
    &:not(:last-child) {
      margin-bottom: $grid-gutter-width / 6;
    }
  }
  @include media-breakpoint-up(lg){
    display: none;
  }
}

.navigation__btn_close{
  span{
    &:first-child{
      transform: translateY(8px) rotate(45deg);
      margin-bottom: 0;
    }
    &:nth-child(2){
      transform: translateY(4px) rotate(-45deg);
      margin-bottom: 0;
    }
    &:last-child{
      opacity: 0;
    }
  }
}