.navigation__link_active {
  color: $secondary;
  @include hover(){
    color: $secondary;
  }
  @include media-breakpoint-up(lg){
    color: $black;
    &:after{
      content: '';
      position: absolute;
      opacity: 1;
      width: 100%;
      height: 2px;
      background-color: $black;
      bottom: -$grid-gutter-width / 3;
    }
    @include hover(){
      color: $black;
    }
  }
}