.wall__inner {
  position: absolute;
  opacity: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: $transition-fade;
}

.show{
  transition: $transition-fade;
  opacity: 1;
}