.wall__img {
  display: block;
  margin: auto;
  svg{
    max-width: 100%;
    max-height: 70vw;
    min-height: 230px;
  }

  @include media-breakpoint-up(lg){
    transform: translateX(150px);
  }
}