.social__title {
  font-size: $font-size-base;
  letter-spacing: 0;
  margin-bottom: 0;
  &:after{
    display: none;
  }

  @include media-breakpoint-up(md){
    position: absolute;
    left:0;
    right: 0;
    z-index: 1000;
    top: - $spacer * 1.5;
  }
  @include media-breakpoint-up(xl){
    left: auto;
    right:auto;
  }
}