.card-activity__link {
  font-size: $font-size-md;
  color: $black;
  span{
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    transition: $transition-base;
    transition-property: color;
  }
  i{
    font-size: $font-size-xl;
  }

  @include plain-hover-focus(){
    text-decoration: none;
    color: $black;
  }
  @include hover(){
    span{
      color: $secondary;
    }
  }
}