.ui-datepicker select,
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
  &:not([multiple]){
    padding-right: 2em;
    background-image: url('./images/caret-down.svg');
    background-size: 9px 6px;
    background-repeat: no-repeat;
    background-position: #{'calc(100% - 1em)'} 50%;
  }
}
.form-control[data-toggle="datepicker"]{
  padding-right: 4em;
  background-image: url('./images/datepicker.svg');
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: #{'calc(100% - 1em)'}  #{'calc(50% - 0.1em)'};
}
.form-control{
  &:-ms-input-placeholder {
    color: $input-placeholder-color;
  }
}