.social__item {
  flex: 0 1 50px;
  font-size: 20px;
  text-align: center;
  color: inherit;

  @include plain-hover-focus(){
    text-decoration: none;
    color: inherit;
  }
  @include media-breakpoint-up(xl){
    flex-basis: auto;
    text-align: left;
  }
}