.nav__content {
  position: absolute;
  left:0;
  margin-top: calc(15% + #{$header-min-height});
  @include media-breakpoint-up(sm){
    margin-top: calc(20% + #{$header-min-height});
  }
  @include media-breakpoint-up(lg){
    margin-top: 0;
    left: auto;
  }
}